# Data Structures, Comparisons, Loops, and Functions

In this notebook, we will learn about various data structures, comparison statements, some useful tools for working with lists like 'for' loops and list comprehension, and functions. 

Follow along with the lecture running each line when it is shown to get a better understanding of these Python concepts that will be very important going forward!

Tutorial adapted from: A Whirlwind Tour of Python by Jake VanderPlas (O’Reilly). Copyright 2016 O’Reilly Media, Inc., 978-1-491-96465-1

More information about these and many other topics can be found at: https://github.com/jakevdp/WhirlwindTourOfPython

## Data Structures

The data structures we will be covering are ``lists``, ``dictionaries``, ``tuples``, and ``sets``, with a much heavier focus on the first two.

### Lists

In Python, creating a new list is very simple. If you remember the way we declared variables in the pre-workshop notebook, lists can be declared in the same way. To specify to Python that we are creating a list, enclose the data you want in the list in brackets ``[ ]``, separated by commas.

For example:

In [1]:
#create list
new_list=[0,1,2,3,4,5]

In [4]:
# Calling print on the list simply prints out what the list is!
print(new_list)
new_list
type(new_list)

[0, 1, 2, 3, 4, 5]

list

Now that we have this list, let's look at the things we can do with it

First, we should be aware that each element of a list has an index. In Python, indexing starts at 0, so the first element in the list could be accessed by new_list\[0\]

Let's try that:

In [7]:
# Return the first item
another_list=[3,4,2,5]
another_list[0]

3

Something we can also do is input a negative index to start counting from the end and moving forward. This starts at -1 which returns the last item in the list, then -2 returns the second-to-last item, and so on.

Here's an example of that:

In [8]:
# Return the second-to-last item
another_list[-2]

2

The next thing we might want to do with a list is to check the length of it. We can use the ``len()`` function to get the number of elements that are in a list.

Here's how that works:

In [9]:
# Get the length of a list using len()
len(new_list)

6

Next, we'll learn how to add items to a list. One way to go about this is to use ``list.append()`` to add that item onto the end of the list. 

The syntax for that looks like this:

In [11]:
# Append the number 6 to the list  
# Note that every time you run this, it will add another 6 to the list, so be careful!
new_list.append(6)
new_list

[0, 1, 2, 3, 4, 5, 6, 6]

Another way to add items is through list addition. Entering ``list_a + list_b`` will return ``list_a`` with ``list_b`` appended onto the end.

Here's a look at that:

In [ ]:
# Print the list plus the numbers [6,7,8]


# Note that printing this doesn't actually add these items to the list,
# just like printing 4 + 3 doesn't make 4 = 7 aftwerwards!

We should also keep in mind that there is no requirement that everything in a list be the same type! If we wanted to add a string to our list of numbers, we're totally allowed to do that.

Let's try it:

In [ ]:
# Add a string to the list
# Rememeber again, every time you run this, it will add the string again!

In [ ]:
# Now that we're done adding things, run this to get back to the original list

Finally, let's look at some things we can do with the indexing to select multiple elements at a time. 

Using the ``:`` character, we can select all elements between two elements. It will include the element at the index on the left, but not the element at the index on on the right.

Here's a few examples:

In [ ]:
# Select the first 3 items

If you leave the space empty before or after the ``:``, it will go until the end of the list!

In [ ]:
# Select from item at index 2 until the end of the list

 This works the same if you put nothing before the ``:``, it will start at the beginning of the list!

In [ ]:
# Select from the start of the list until the third item

Another thing we can do is use the ``::`` character to specify a 'step size'. For example, we can select every second element of the list

Here are some examples of how this is used:

In [ ]:
# Select every second element

One particularly useful application of this is to use a step of ``-1``, which reverses a list!

In [ ]:
# Reverse the list using a step

### Dictionaries

Next, we'll look at a data structure that is somewhat like lists, but with some key differences. 

Here's an example to understand why we might want to use a dictionary: Say a teacher wants to keep track of some attributes of the students of thier class and store them in a list. The information we want to store is the number of students in the class which is 17, the average grade which is 84, the average midterm score which is 83, the average final exam score which is 80.

We CAN do this with a list, the code is just ``class_info = [17,84,83,80]``

But what if we want to access that info? Sure we could just *remember* that the number of students is first, the final grades are second, and so on... But what if instead of 4 things to keep track of, we had 100, 1,000, or even 1,000,000?

Dictionaries are our solution to this problem, because they allow you to search them by a key instead of by an index like lists.

Dictionaries are declared using ``{ }``, and each element is formatted as a key ``key_name`` then a ``:`` followed by the data to be stored at that key. For example, ``new_dict = {'one': 1, 'two':2, 'string':'string','list':[0,1,2], 'dict':{'key':3}}``

Let's get into some coding to see how dictionaries can make our class example easier:

In [14]:
# First, lets make a new dictionary and add the first item
new_dict = {'numbstudents':17, 'avg_GPA': 3.44}
new_dict

{'avg_GPA': 3.44, 'numbstudents': 17}

Adding items to a dictionary is easy, we just set the ``dict['new_key'] = new_item`` and it gets added to the dictionary

Knowing this, let's add the next two items:

In [16]:
# Add the next two items, avg_grade and avg_midterm
new_dict['avg_grade'] = 97

Seeing how we've doing this, try to add the final item ``avg_final`` yourself in the box below!

In [18]:
# Add the final item avg_final with its value 80
new_dict['avg_final'] = 80
new_dict

{'avg_GPA': 3.44, 'avg_final': 80, 'avg_grade': 97, 'numbstudents': 17}

To access items in a dictionary, we call it like a list, but we give it the key name instead of the index.

Like so:

In [19]:
# Print the number of students by accessing the dictionary with key 'num_students'
new_dict['avg_final']

80

We can see how this makes it much easier to find data you are looking for!

Remember, when you're looking for specifically named attributes of something, dictionaries are a helpful tool to make that much easier than searching for it in a list.

### Tuples and Sets: Reading and exercises left to the reader


There are two other build-in data structures that are good to know - ``tuples`` and ``sets``.  This section and topics are left to the reader for review.

``Tuples`` are a lot like ``lists``, but there are a few key differences and they are defined by ``( )`` instead of ``[ ]`` like ``lists``.

Here's an example:

In [ ]:
# Make a new tuple with the numbers 0,1,2
new_tuple = (0,1,2)

In [ ]:
# You can access elements in tuples the same way as with lists
# Print the first item in the tuple
print(new_tuple[0])

0

The main difference between tuples and lists though, is that once you create a tuple it cannot be changed.

Therefore, if you try to add to it, you'll get an error like this:

In [ ]:
# Try to add the number 4 to the tuple
new_tuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

The other data structure we'll brifely cover is ``sets``, which are defined using ``{ }`` like dictionaries, but without the ``key:value`` format for elements.

``Sets`` have no order like ``lists`` and ``tuples``, so they can't be called with an index, but they do have built-in 'set operations' which are a bit like the Boolean operations ``and``, ``not``, and ``or`` that we learned about earlier.

Here's a look at that:

In [ ]:
# First we need some sets to operate on
set_odds = {1,3,5,7,9}
set_threes = {3,6,9}

In [ ]:
# The | operation works like the 'or' operator, returning things that are in set 1 OR set 2
print(set_odds | set_threes)

{1, 3, 5, 6, 7, 9}

In [ ]:
# The & operation works like the 'and' operator, returning things that are in set 1 AND set 2
print(set_odds & set_threes) # Remember that sets have no order, so these might not come out in sorted order

{9, 3}

In [ ]:
# Finally, the - operation works like you might expect subtraction to work, returning things in set 1 but NOT set 2
print(set_odds - set_threes)

{1, 5, 7}

## Conditional Execution

Next, we'll go over comparison control statements, which allow different pieces of code to be executed based on True/False statements

### If Statements

The first control statement that is important for us to know is the classic ``if`` statement.

Here's how it works:

In [ ]:
# Example
if(True): # Note this one will always print because the condition 'True' is always equal to True. 
    print ("First if statment!") # The real value of if statements comes from changing this.

First if statment!

As an example problem for this section, let's try to write some code that will tell us whether a word is uppercase, lowercase, or has mixed casing.  The function `isupper()` is True if all letters are uppercase, and `islower()` is True if all letters are lowercase.

In [ ]:
# Solution with only IF statements

### Else and Elif statements
When two or more statements are mutually exclusive, it makes sense to use the `if-else` or `if-elif-else` conditional structure.

* The semantics of the `else` structure is: ``If (condition) then do thing_1, but ELSE if not then do thing_2``.
* The semantics of the `if-else` structure is: ``If (condition_1) then do thing_1, but ELSE if not, IF (condition_2) then do thing_2``.

Let's see what this looks like for the previous example.

In [ ]:
#if/else structure - but this isn't true for this case!
# Remember, word = 'dogs ARE cute'

#### Additional reading and exercises left to the reader
Below is another numerical example of using `if` statements.  Read through this example to understand the underlying concepts, and the advantages of the `if-else` and `if-elif-else` as opposed to the `if-if-if` structure.

Suppose you had a number (called `if_number`) and you wanted to know whether it was positive, negative, or zero.  Write a set of if statements that would solve this problem.

In [ ]:
#Use if statements to test every scenario
if_number = -5 
if(if_number < 0):
    print ("The number is negative")
if(if_number > 0):
    print ("The number is positive")
if(if_number==0):
    print ("The number is zero")

The number is negative

What if you tried this with an `if` statement and then an `if-else` to resolve the last condition?

In [ ]:
# Because if a number is not greater than zero or less than zero it must BE zero right?
# So we don't really need to check that last condition, let's replace it with and ELSE statement and see what happens.
#Same solution but replace the final IF with just ELSE
if_number = -5 
if(if_number < 0):
    print ("The number is negative")
if(if_number > 0):
    print ("The number is positive")
else:
    print ("The number is zero")

The number is negative
The number is zero

Uh oh, that didn't work, it printed two things! Let's look at why that happened.

In the first if statement, the code saw that the number was less than zero so it printed "The number is negative". Then, in the second if statement, the code saw that the condition was False, so it executed the else statement and printed "The number is zero".

To fix this problem, let's look at one last control statement: ``Elif`` statements

This will allow us to fix the problem in the code we've been working with that caused it to print twice by only allowing one of the conditions to execute:

In [ ]:
# Replacing the second if with elif makes the whole thing just one big statement!
# Now everything will work as intended
if_number = -5 
if(if_number < 0):
    print ("The number is negative")
elif(if_number > 0):
    print ("The number is positive")
else:
    print ("The number is zero")

The number is negative

Now, instead of first checking an ``IF`` and then an ``IF-ELSE`` which made it check two statements and print twice, we combined them into an ``IF-ELIF-ELSE`` statement that could only print once, fixing the error!

**Considerations**:
* Do you think a set of `if` statements is more or less error-prone than the `if-elif-else` logic?  Why or why not?  Consider mutually exclusive statements.
* Consider if you had a list of 20 if statements.  Let's say the condition is resolved by the first statements.  Are the rest of the statements executed?  What about the `if-elif-else` logic?  Given the mutual exclusivity of the statements - how many do you think would need to be executed?

## Iteration

The next thing we'll look at is ``for`` loops, and specifically how they can be used with some of the data structures we learned about earlier.

### For Loops

The primary use we'll have for ``for`` loops has to do with their interactions with our data structures. Using a ``for`` loop, you can easily iterate through data structures and perform operations on each element.  Let's look at a few examples:

In [20]:
# First, let's make a list
new_list = [0,1,2,3,4,5]

In [21]:
# Now let's try out a for loop to print out each element
for el in new_list:
  print(el)

0
1
2
3
4
5

We can see that this ends up calling the print() function 6 times, once per element in the list to print it!  Let's combine this with some additional information about strings to see how this can be used with our previous function.

The `split` method can be called on strings to split the strings based on some parameter.  The results are returned as a list.  Let's check this out and combine this with iteration:

In [25]:
#default split method is on spaces
sentence = 'dogs ARE cUte'
sent_list = sentence.split()
sent_list

['dogs', 'ARE', 'cUte']

Let's apply this to our previous example.  Let's test each word in our list to determine whether it is upper, lower, or mixed case.  Try this for a minute on your own and then we'll do this together.

In [26]:
for test_var in sent_list:
  if test_var.isupper():
    print('uppercase')
  elif test_var.islower():
    print('lowercase')
  else:
    print('mixed case')

lowercase
uppercase
mixed case

How does this work with dictionaries since they are unordered?

In [27]:
for key,value in new_dict.items():
  print(key, value)

numbstudents 17
avg_GPA 3.44
avg_grade 97
avg_final 80

#### Additional reading and exercises left to the reader

`range` and `enumerate` are two other functions which are helpful in general, but particularly when iterating through lists.  In general, `range` creates a list of numbers based on the starting value, ending value, and step size.  For lists `enumerate` returns both the _index_ of the element and the value of the element.  Here are some examples:

In [ ]:
# Range() returns an ordered set of numbers from 0 up to, but not including, the number you input.
# Print the first 10 numbers using the range() function
for each in range(10):
    print (each)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# If you give range() 2 inputs, the first number will act as the starting point, and the second number will work like before.
# Print the second set of 5 numbers (5,6,7,8,9) using the range() function
for each in range(5,10):
    print(each)

5
6
7
8
9

In [ ]:
# This can be used to get certain parts of lists by using the list indexes
new_list = [0,1,2,3,4,5]
# Print all numbers except the ends 0 and 5 using a for loop and the range() function
for i in range(1,5):
    print(new_list[i])

1
2
3
4

In [ ]:
#Print all numbers and their corresponding indices
test_list = [5,4,6,2,11]
for ind, val in enumerate(test_list):
    print('index is:', ind, '-> val is:', val)

index is: 0 -> val is: 5
index is: 1 -> val is: 4
index is: 2 -> val is: 6
index is: 3 -> val is: 2
index is: 4 -> val is: 11

## List Comprehensions

Next, we'll discuss list comprehensions, which may seem complex-looking at first, but once you understand them they are a powerful tool for quickly creating lists that you may need to make.  To learn how to create and use them, let's look at some code and use the previous example.

In [37]:
#default split method is on spaces
sentence = 'dogs ARE cUte'
sent_list = sentence.split()
sent_list

['dogs', 'ARE', 'cUte']

What if we wanted all of these words to be lowercased?  Let's write a for loop to do this...

In [36]:
for ind, word in enumerate(sent_list):
  sent_list[ind] = word.lower()
sent_list

['dogs', 'are', 'cute']

In [35]:
lower_list = [word.lower() for word in sent_list]
lower_list

['dogs', 'are', 'cute']

This seems like a lot for something so simple.  As written, this is also destructive.  A more concise and shorter method is through list comprehensions.  This would be re-written as follows:

In [40]:
[el if  for el in sent_list if el.islower()==True]

['dogs']

We can also return conditionally select list elements to return...

In [42]:
[el.upper() el.isupper()==TRUE if el.islower()==True else el for el in sent_list]

['DOGS', 'ARE', 'cUte']

We can also conditionally apply operations to some elements of the list and return all elements...

#### In-class exercise
You can also split strings based on other characters.  The example below splits strings based on a period and is a great way to get each sentence in a text as a single element of a list.  Based on these strings, return a list of the following elements:
1. Create a list containing each element of the list (basic list comprehension)
2. Create a list which contains strings which ONLY have uppercase letters
3. Bonus: Create a list which contains all the strings, but lowercases strings which have ONLY uppercase letters
4. Super bonus:  Similarly to `islower()` and `isupper()`, the `find` string method can find substrings in a string.  If the string is **NOT** found, this method returns -1.  Create a list which returns only sentences where the string 'dog' is found (i.e., where `sent.find('dog')!=-1` ).  Note that since there are varying letter cases here, it might be helpful to lowercase the letters of the strings when using `find()`.

In [58]:
#we can also split on other characters
paragraph = 'Dogs are cute.  I LOVE DOGS. THEY are WONderful.'
par_list = paragraph.split('.')
par_list

['Dogs are cute', '  I LOVE DOGS', ' THEY are WONderful', '']

In [64]:
#1 
par_list = ['Dogs are cute', '  I LOVE DOGS', ' THEY are WONderful', '']
print(par_list)

['Dogs are cute', '  I LOVE DOGS', ' THEY are WONderful', '']

In [68]:
#2
[el for el in par_list if el.isupper()==True]

['  I LOVE DOGS']

In [70]:
#bonus
[el.lower() if el.isupper()==True else el for el in par_list]

['Dogs are cute', '  i love dogs', ' THEY are WONderful', '']

In [62]:
   #super bonus

#### Additional reading and exercises left to the reader

In [ ]:
# Assume we want to make a list of the square of the first 10 intergers from 0 to 9
# Here's how we'd do that in a list
squares = [] # Create an empty list to add things to
for i in range(10):
    squares.append(i ** 2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

This works just fine, but with list comprehensions, we can do this in only one line!

In [ ]:
# List comprehensions look something like list = [n for n in range() if <condition>]
# So if we do [n ** 2 for n in range(10)], We can get a list of n ** 2 for all values in range(10) which is what we want!
print([n ** 2 for n in range(10)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Look at that! The exact same list made in a single line. There are also a few more things we can do with list comprehensions.

Adding an ``if`` statement on the end allows us to trim the values to fit certain condition:

In [ ]:
# Say we wanted the same list, but only the squares that ended up being less than 50
# That can be done by adding a if n ** 2 < 50 to the end like this
print([n ** 2 for n in range(10) if n ** 2 < 50])

[0, 1, 4, 9, 16, 25, 36, 49]

So we understand, let's try it again with a new problem and work through it step-by-step.

**Let's say we want a list of all of the ODD cubes (raised to the 3rd power) of the numbers between 1 and 15.**

There are 3 things we need for a list comprehension: The operation, the range, and the condition. 

Looking at our problem, we want the cubes of the numbers, so our operation will be ``n ** 3`` to raise the numbers to the third power.

The range is easy enough to figure out, the numbers between 1 and 15 can be found with ``n in range(1,16)``

So far, we have ``[n ** 3 for n in range(1,16)]``

In [ ]:
# Now we can begin on the comprehension
print ([n ** 3 for n in range(1,16)])

# What we have so far will print all of the cubes of the first 15 numbers, but we want only the ODD ones
# This means we need an if statement!

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375]

In this problem, the condition is that the cube is ODD. In python the standard way to find odd numbers is using the ``%`` operator, which returns the remainder after division by a number. If you divide a number by 2 and it has a remainder or 1, you know it must be odd. Therefore, for our condition, we want the cube % 2 to be equal to 1. In code, this is ``(n ** 3) % 2 == 1``

Now we have all the pieces we need to put the comprehension together!

The format is ``[operation for range if condition]``, so plugging things in we get:

``[n ** 3 for n in range(1,16) if (n ** 3) \% 2 == 1]``

Let's run that and see what we get!

In [ ]:
# There we go! As we can see this prints all of the odd cubes of the numbers between 1 and 15!
print([n ** 3 for n in range(1,16) if (n ** 3) % 2 == 1])

[1, 27, 125, 343, 729, 1331, 2197, 3375]

Finally, keep in mind that not every comprehension needs a fancy operation or condition, leaving off the if statement or just having the operation be 'n' are perfectly okay if that's what your list needs. List comprehensions are just a helpful tool to help you quickly get the list you need!

## Functions

The final thing we'll cover in this section is functions, how to use them, and how to create your own!

We actually already have a good amount of experience using functions, as the ``print()``, ``range()``, ``len()`` and other things we've done that end in ``()`` are functions!

As we've been doing, we call functions by typing the name of the function, then putting any parameters you want to give the function in parenthesis afterwards.

In [ ]:
# For example, the print() function takes 1 argument, the thing you want to print, and prints it.
# Print "Hello World!"

What we'd like to be able to do is make functions of our own.  You can define your own functions with a ``def`` statement followed by a function name.  Inside the parethesis in the function definition are a set of arguments.  These arguments are just dummy names that are stand-ins for when Python substitutes the dummy value with the real argument.  Let's make a function out of our upper/lower/mixed case code.

In [ ]:
# Make a new function that prints whether something is upper, lower, or mixed case.

In [ ]:
#call the function

Most of the time, it isn't sufficient just to print something.  The function needs to return something to the "caller".  Recall that the `len` function returns an integer length.  The `find` function returns how many times the substring was found.  This allows us to use functions in a chained manner.

Let's change our objective for our `case` function, and make something called `switch_case`.  If the code word in is all uppercase, let's switch it to lower.  If it is all lowercase, let's switch it to upper.  If it's mixed case, let's swap the case.

In [ ]:
#switch_case function

In [ ]:
# Call switch_case function

Let's try this on our sentence list using a list comprehension.

#### In-class exercise
In looking at the strings generated with `paragraph.split('.')`, we might want to change some of the list elements.  For example, some of the strings have unnecessary whitespace on either end, and we want might want to replace the period at the end.  Use the following information:
* The `strip` method removes whitespace from both sides of a string
* You can concatenate strings using `+` (e.g., `'random sentence'+'.'` = `random sentence.`)

1.  Create a function which accepts a string, strips whitespace, and adds a period at the end.  It should return this modified string.
2.  Use a list comprehension to apply this to `par_list`.

In [ ]:
par_list

In [ ]:
#1

In [ ]:
#1, cont'd

In [ ]:
#2

#### Additional reading and exercises left to the reader
*Now let's try to make a function with a real purpose. A common example used to demonstrate functions is a function that outputs the Fibonacci sequence.*

If you're unfamiliar, the Fibonacci sequence is a sequence of numbers that begins with 1,1 and then each new number in the series is equal to the sum of the last two.

Let's try to build something like that:

In [ ]:
# Let's define a new function with an input for the number of Fibonacci numbers we want
def fib(N):
    out = [???] # First, we need a list to add to and print at the end, and we know the first two terms 1,1 by definition
    for i in range(???): # Because N is the number of terms we want and we add 2 at the start, we want to loop (N - 2) times
        out.append(???) # This step is a little tricky, but how it works is that in the first loop, i is 0 
                                        # so we sum the first and second terms to create a thrid, then on the second loop 
                                        # i is 1 so it sums the 2nd and 3rd terms to create a 4th. This continues until the
                                        # loop is done and we have all the terms we need!
    print(out) # Finally, print the list we've made
# Now let's call the function and see the result
fib(10) 

# Correct Result for fib(10)
# [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

There we go! Feel free to change the 10 to another number to see that it works no matter if you want 3 numbers or 100!

This is a complex example, but by understanding how we made this function, you can see how everything we've learned about lists, loops, and functions can come together to be a powerful tool for making the things you need.

## What we've covered

Upon completion of this notebook, you should be familiar with the following:

- Data structures like lists, dictionaries, sets, and tuples
- Comparison statements IF, ELSE, and ELIF and how to use them together
- For loops and how to use them with lists
- List comprehension and how to use it to create complex lists
- How to call and create your own functions with custom inputs

## Additional exercises
To gain additional practice and prepare for pandas, do the exercises below:
1. Review all additional readings and exercises in this notebook
2. Create a list of 5 questions (5 string elements).  Use a list comprehension to show all of the elements.
3. Create a list of 5 answers (5 string elements).
4. Create a function which will accept two lists as arguments.  Print out the the corresponding answers to each question in the form ('Question: <your question here>, Answer:<your answer here>).  `len` and `enumerate` may be helpful here.
5.  Create a dictionary of question-answer pairs as key-value pairs.  Both key and value will be strings.  Create a function which will accept this dictionary and print out the questions and answers in the same form.
6.  Examine the string documentation here: https://docs.python.org/3/library/stdtypes.html#string-methods and answer the following questions:
    * What method could I use to determine if a string was all numeric?
    * What method could I use to replace characters in a string?
    * What method could I use to determine whether a string starts with a certain character?
7.  Using the results from (6), generate a list comprehension which will replace all instances of "dog" with "cat" in par_list.